body{
    background-color:black; 
    background-image:url(https://wallpaperplay.com/walls/full/f/1/b/12871.jpg);
    background-size: 100vw;
  }
    .site-title,
    .site-subtitle {
      text-align:center;
      color:whitesmoke;
      font-family:arial; 
  }
  .site-subtitle{
    font-size:20px;
    font-weight:100;
    font-style:italic;
  }
    .menu ul {
      display:flex;
      justify-content:space-around;
      text-decoration:none;
      font-family:helvetica; 
      font-weight:bold;
      list-style:none;
    }
  a {
      background-color: rgba(0,0,0,0.2);
      text-decoration:none;  
      color:whitesmoke;  
  }
  a:hover {
        text-decoration:underline; 
  } 
  .image {
      display:block;
      margin:auto;
      align-items:center;
  }